#Github.com-Vasusen-code

https://github.com/vasusen-code/Telethon/archive/refs/tags/v1.24.0.zip
https://github.com/leftcausedit/ethon/archive/refs/tags/v0.1.6.zip
cryptg
tgcrypto
pyrogram
python-decouple
